{% extends 'shared/base.html' %}
{% block title %}پست ها{% endblock %}
{% block content %}
    {% include "shared/messages.html" %}
    {% for post in posts %}
       <div class="card">
       <p class="card-header">{{ post.user }}</p>
       <h2 class="card-body">
           {{ post.title }}
       </h2>
           <h4 class="card-body">
               {{ post.body |truncatewords:5}}
           </h4>
           <a class="btn btn-info" href="{{ post.get_absolute_url }}">جزییات</a>
           <br>
       </div>
    {% endfor %}
{% endblock %}