{% extends 'shared/base.html' %}
{% block title %}{{ user.username }}'s profile{% endblock %}

{% block content %}
    <p class="text-center">
        {{ user.username }}
    </p>
    <p class="text-center">
        {{ user.userprofile.bio }}
    </p>
    <br><br>
    <h3>
        posts
    </h3><br><br>
    <a class="btn btn-info" href="{% url 'posts:add_post_by_user' %}">ایجاد پست جدید</a>

    <hr><br><br>
    {% for post in posts %}
        <a href="{{ post.get_absolute_url }}"><h4 class="card-header">
            {{ post.title }}
        </h4></a>
        <h5 class="card-body">{{ post.body | truncatewords:5 }}</h5>

        <h6>{{ post.created | date }}</h6>
        <hr>
    {% empty %}
        <div class="alert alert-danger" role="alert">

            <h3 class="text-center">شماپستی ندارید</h3>

        </div>


    {% endfor %}
{% endblock %}
