<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div style="direction: rtl" class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home_page' %}">خانه</a>

            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'posts:posts_page' %}">پست ها</a>

            </li>
            {% if request.user.is_authenticated %}


                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'accounts:log_out' %}">خروج</a>

                </li>

            {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'accounts:login_page' %}">ورود</a>

                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'accounts:register_page' %}">ثبت نام</a>

                </li>
            {% endif %}


        </ul>
    </div>
</nav>